* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

li:hover {
    border-radius: 5px;
    background-color: #d2d2d2;
}

.local {
    display: flex;
    gap: 2rem;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    border-radius: 20px;

}

li a {
    color: #777;
}

h1 {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu-nav {
    display: flex;
    border: solid 2px black;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
}

.icone {
    width: 40px;
    height: 40px;
}


.alinhar-menu {
    display: flex;
    align-items: center;
}

.alinhar-menu p {
    margin-right: 30px;
}

.alinhar-menu li {
    font-size: 1.5rem;
    padding: 10px;
}

.superinfo-bg {
    background: #A60815;
}

.superinfo {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.info p {
    padding: 20px;
    font-size: 30px;
}

.icone {
    width: 50px;
    height: 50px;
}

.capas {
    width: 500px;
    height: 380px;
}

.menus-bg {
    background: goldenrod;
}

.menus {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menus-logo{
    text-align: center;
}

.menus-logo a {
    font-size: 4em;
    font-weight: bold;
    margin: 0 10px;
    color: white;
}

.menus-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menus-nav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
}

.banner {
    background-image: linear-gradient(100deg, #000000, #00000020), url('Zera.png');
    height: 10px;
    background-size: cover;
    right: 150px;
    padding: 200px 650px 0px 10px;
    background-position: center;
}

.txtbanner {
    max-width: 700px;
    margin: 0 auto;
}

.txtbanner p {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500px;
}

.txtbanner h2 {
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.txtbanner a {
    margin-top: 2rem;
    text-decoration: none;
    color: #000000;
    background-color: white;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 3rem;
}

.main-conteudo {
    background-color: #3d5a98
}

.base-conteudo {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 3rem 0;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    border-radius: 1rem;
    gap: 1.5rem;
    width: 280px;
    background-color: white;
    padding: 1.0rem 0;
    box-shadow: 10px 5px 5px rgb(19, 19, 19);
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.conteudo span {
    font-weight: 700;
    font-size: 1.2rem;
    color: black;
}

.conteudo p {
    color: #777;
    font-weight: 400;
}

.titulosobre {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
    margin-top: 60px;
    text-decoration: underline dotted lightskyblue;

}

.just {
    display: flex;
    justify-items: center;
    padding: 50px 150px 50px 150px;
}

.texto {
    font-size: 14px;
    text-align: justify;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    justify-items: center;
    color: white;
}

.card-categoria p {
    color: white;
    font-size: 2.5rem;
    text-transform: capitalize;
    position: relative;
}

.top-products1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
    background-color: #294480
}

.top-products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

a {
    color: #777;
}

.container-options {
    display: flex;
}

.container-options label {
    color: #777;
    padding: 0.7rem 3rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
}


.container-options span:hover {
    background-color: #695a49;
    color: #fff;
}

.container-options span.active {
    background-color: #695a49;
    color: #fff;
}


.heading-1 {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    color: #fff;
}

.container-produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 0px 50px 50px 50px;
}

.card-product {
    background-color: #fff;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.1);
    width: 100%;
}

.container-img {
    position: relative;
}

.lancados {
    width: 500px;
    height: 500px;
}

.container-img img {
    width: 100%;
}

.container-img .discout {
    position: absolute;
    left: 0;
    color: #fff;
    padding: 2px 1.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.card-product:hover .discout {
    background-color: #695a49;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: -3rem;
    z-index: -1;
    transition: all 0.4s ease;
}


.button-group span {
    border: 1px solid #695a49;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
}

.button-group span:hover {
    background-color: #695a49;
}

.button-group span i {
    font-size: 1.5rem;
    color: #695a49;
}

.button-group span:hover i {
    color: #fff;
}

.card-product:hover .button-group {
    z-index: 0;
    right: -1rem;
}


.content-card-product {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
}

.stars {
    grid-row: 1/2;
    grid-column: 1/-1;
}

.stars i {
    font-size: 1.2rem;
    color: rgb(251, 251, 62)
}

.content-card-product h3 {
    grid-row: 2/3;
    grid-column: 1/-1;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.content-card-product h3:hover {
    color: #695a49;
}

.add-cart {
    justify-self: start;
    border: 2px solid #695a49;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-cart:hover {
    background-color: #695a49;
}

.add-cart i {
    font-size: 0.9rem;
    color: #695a49;
}

.add-cart:hover i {
    color: #fff;
}

.content-card-product .price {
    justify-self: end;
    align-self: center;
    font-size: 1.4rem;
    font-weight: 700;
}

.content-card-product .price span {
    font-size: 0.8rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #777;
    margin-left: 0.5rem;
}


.local {
    display: flex;
    gap: 2rem;
    margin-bottom: 30px;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    border-radius: 20px;

}

.container-categorias {
    display: flex;
    grid-template-columns: repeat(3, 0fr);
    gap: 3rem;
}

.tipos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.card-categoria {
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 1rem;
}

.categoria-moca {
    background-image: linear-gradient(#00000080, #00000080), url(images/cafemoca.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 350px;
}

.categoria-Americano {
    background-image: linear-gradient(#00000080, #00000080), url(images/expressoamericano.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 350px;
}

.categoria-cappuccino {
    background-image: linear-gradient(#00000080, #00000080), url(images/capuchino.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 350px;
}

.categoria-Croassaint {
    background-image: linear-gradient(#00000080, #00000080), url(images/croasaint.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 350px;
}

.categoria-Parma {
    background-image: linear-gradient(#00000080, #00000080), url(images/bruschetadepresuntoparma.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 350px;
}

.categoria-red {
    background-image: linear-gradient(#00000080, #00000080), url(images/boloredvelvet.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 350px;
}

.card-categoria p {
    color: white;
    font-size: 2.5rem;
    text-transform: capitalize;
    position: relative;
}

.card-categoria p::after {
    content: '';
    width: 2.5rem;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, 50%);
}

.card-categoria span {
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.card-categoria span:hover {
    color: white;
}

.top-products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-options {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.container-options span {
    color: #777;
    background-color: #fff;
    padding: 0.7rem 3rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
}

.container-options span:hover {
    background-color: #695a49;
    color: #fff;
}

.container-options span.active {
    background-color: #695a49;
    color: #fff;
}


.heading-1 {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    color: #fff;
}

.container-produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 0px 50px 50px 50px;
}

.card-product {
    background-color: #fff;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.1);
    width: 100%;
}

.container-img {
    position: relative;
}

.container-img img {
    width: 100%;
}

.container-img .discout {
    position: absolute;
    left: 0;
    color: #fff;
    padding: 2px 1.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.card-product:hover .discout {
    background-color: tomato;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: -3rem;
    z-index: -1;
    transition: all 0.4s ease;
}


.button-group span {
    border: 1px solid #695a49;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
}

.button-group span:hover {
    background-color: black;
}

.button-group span i {
    font-size: 1.5rem;
    color: goldenrod;
}

.button-group span:hover i {
    color: #fff;
}

.card-product:hover .button-group {
    z-index: 0;
    right: -1rem;
}


.content-card-product {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
}

.stars {
    grid-row: 1/2;
    grid-column: 1/-1;
}

.stars i {
    margin-top: 10px;
    font-size: 1.2rem;
    color: rgb(232, 232, 61);
}

.content-card-product h3 {
    grid-row: 2/3;
    grid-column: 1/-1;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.content-card-product h3:hover {
    color: rgb(157, 157, 157);
    font-size: 20px;

}

.add-cart {
    justify-self: start;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-cart:hover {
    background-color: black
}

.add-cart i {
    font-size: 0.9rem;
    color: black;
}

.add-cart:hover i {
    color: #fff;
}

.content-card-product .price {
    justify-self: end;
    align-self: center;
    font-size: 1.4rem;
    font-weight: 700;
}

.content-card-product .price span {
    font-size: 0.8rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #777;
    margin-left: 0.5rem;
}

.local {
    display: flex;
    gap: 2rem;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    border-radius: 20px;

}

.blogs {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.container-blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card-blog {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 40px 20px 40px 20px;
    padding: 20px 30px 60px 30px;
    background-color: #F9F5F0;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.card-blog .container-img {
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

.container-img {
    border-radius: 10px;

}

.button-group-blog {
    position: absolute;
    bottom: 1.2rem;
    right: -2.5rem;
    display: flex;
    gap: 0.7rem;
    z-index: -1;
    transition: all 0.3s ease;

}

.card-blog:hover .button-group-blog {
    z-index: 0;
    right: 1.5rem;

}

.button-group-blog span {
    background-color: #fff;
    padding: 1rem;
    border-radius: 50%;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;

}

.button-group-blog span i {
    font-size: 1.3rem;
}

.button-group-blog span:hover i {
    color: #fff;
}

.button-group-blog span:hover {
    background-color: black;
}

.content-blog h3 {
    font-size: 1.8rem;
    margin: 1.2rem;
    color: #000;
    font-weight: 400;
}

.content-blog h3:hover {
    color: #777;
    cursor: pointer;
}

.content-blog p {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #777;
}

.content-blog span {
    color: #c7a17a;
    font-size: 1.3rem;
}

.btn-read-more {
    padding: 1rem 3rem;
    background-color: darkgrey;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;
    border-radius: 2rem;
    margin: 2rem 0 5rem;
    display: inline-block;
    cursor: pointer;
}

.btn-read-more:hover {
    background-color: black;
}

.footer {
    background-color: #695a49;
}

.container-footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem;
    background-color: #A60815;
}

.menu-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 30rem;
    gap: 3rem;
    justify-items: center;
}

.title-footer {
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info ul li:hover,
.information ul li,
.my-account ul li {
    list-style: none;
    color: black;
    font-weight: 300;
}

.information ul li a,
.my-account ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

.information ul li a:hover, 
.my-account ul li a:hover {
    color: black
}

.social-icons {
    display: flex;
    gap: 1.5rem;
}

.social-icons span {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons span i {
    color: #fff;
    font-size: 1.4rem;
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #00acee;
}

.youtube {
    background-color: #c4302b;
}

.pinterest {
    background-color: #c8232c;
}

.instagram {
    background: linear-gradient(#405de6,
            #833ab4,
            #c13584,
            #e1306c,
            #fd1d1d,
            #f56040,
            #fcaf45);
}

.content p {
    font-size: 0.8rem;
    color: #fff;
    font-weight: 300;
}

.content input {
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #edab5f;
    cursor: pointer;
    padding: 0.5rem 0 1.2rem;
    color: black;
    display: block;
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 100%;
    font-family: inherit;
}

.content input::-webkit-input-placeholder {
    color: #eee;
}

.content button {
    border: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-family: inherit;
    cursor: pointer;
    font-weight: 400;
}

.content button:hover {
    background-color: #695A49;
    color: white;
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    border-top: 1px solid #c7a17a;
    justify-content: center;
    align-items: center;
}

.copyright p {
    font-weight: 400;
    font-size: 1.1rem;
}

@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .hero {
        padding: 2rem;
    }

    .customer-support {
        display: none;
    }

    .content-shopping-cart {
        display: none;
    }

    .navbar {
        padding: 1rem 2rem;
    }

    .navbar .fa-bars {
        display: block;
        color: #fff;
        font-size: 3rem;
    }

    .menu {
        display: none;
    }

    .content-banner {
        max-width: 50rem;
        margin: 0 auto;
        padding: 25rem 0;
    }

    .container-features {
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 2rem;
    }

    .card-feature {
        padding: 2rem;
    }

    .heading-1 {
        font-size: 2.4rem;
    }

    .card-category {
        height: 12rem;
    }

    .card-category p {
        font-size: 2rem;
        text-align: center;
        line-height: 1;
    }

    .card-category span {
        font-size: 1.4rem;
    }

    .container-options {
        align-items: center;
    }

    .container-options span {
        text-align: center;
        padding: 1rem 2rem;
    }

    .container-products {
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    }

    .gallery {
        grid-template-rows: repeat(2, 15rem);
    }

    .container-blogs {
        overflow: hidden;
        grid-template-columns: 1fr 1fr;

        height: 52rem;
    }

    .menu-footer {
        grid-template-columns: repeat(2, 1fr);
    }

    .copyright {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
}


@media (max-width: 468px) {
    html {
        font-size: 42.5%;
    }

    .content-banner {
        max-width: 50rem;
        padding: 22rem 0;
    }

    .heading-1 {
        font-size: 2.8rem;
    }

    .card-feature {
        flex-direction: column;
        border-radius: 2rem;
    }

    .feature-content {
        align-items: center;
    }

    .feature-content p {
        font-size: 1.4rem;
        text-align: center;
    }

    .feature-content span {
        font-size: 1.6rem;
        text-align: center;
    }

    .container-options span {
        font-size: 1.8rem;
        padding: 1rem 1.5rem;
        font-weight: 500;
    }

    .container-products {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1rem;
    }

    .container-img .discount {
        font-size: 2rem;
    }

    .content-card-product h3 {
        font-size: 2.2rem;
    }

    .gallery {
        grid-template-rows: repeat(2, 20rem);
    }

    .blogs {
        padding: 2rem;
    }

    .container-blogs {
        grid-template-columns: 1fr;
        height: 75rem;
    }

    .content-blog h3 {
        font-size: 2.4rem;
    }

    .content-blog span {
        font-size: 1.8rem;
    }

    .content-blog p {
        font-size: 2.2rem;
    }

    .btn-read-more {
        font-size: 1.8rem;
    }

    .contact-info ul,
    .information ul,
    .my-account ul {
        display: none;
    }

    .contact-info {
        align-items: center;
    }

    .menu-footer {
        grid-template-columns: 1fr;
    }

    .content p {
        font-size: 1.6rem;
    }
}


.carousel-container {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.carousel-image {
    width: 100%;
    height: 550px;
    display: block;
    object-fit: cover;
    align-items: center;
}



input[type="radio"] {
    display: none;
}

#slide1:checked~.carousel-slides {
    transform: translateX(0%);
}

#slide2:checked~.carousel-slides {
    transform: translateX(-100%);
}

#slide3:checked~.carousel-slides {
    transform: translateX(-200%);
}

body {
    background-color: whitesmoke;
}

.carousel-controls {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.carousel-dot {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ddd;
    border-radius: 50%;
    transition: background-color 0.3s;
}

input#slide1:checked~.carousel-controls label[for="slide1"],
input#slide2:checked~.carousel-controls label[for="slide2"],
input#slide3:checked~.carousel-controls label[for="slide3"] {
    background-color: #000000;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    border-radius: 3px;
}

.carousel-next2 {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    border-radius: 3px;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}